################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TcpSerialWin32Service/obj/x86/Debug
/TcpSerialServiceConsole/obj/Debug
/Slistener.TcpSerial.Service/obj/Debug
/obj/Debug
/bin/Debug
